@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Oswald:wght@200;400&display=swap');

*,::after,::before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}

:root {
  --font-pri: 'Montserrat', sans-serif;
  --font-sec: 'Oswald', sans-serif;
}

body {
  background-color: #0c0c0c;
  padding-top: 15px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-pri);
  color: #fff;
  font-weight: 600;
}

p {
  font-family: var(--font-sec);
  color: #fff;
  opacity: 0.8;
}

.noscript {
  margin: 0 auto;
  max-width: 900px;
  background: red;
  padding: 200px 15px;
}

.noscript p {
  font-size: 32px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.w__game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  margin-top: 15px;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 2px;
  min-width: 50px;
  min-height: 50px;
}

#keyboard {
  height: 200px;
  margin-top: 15px;
}

.k-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.k-row button {
  font-family: var(--font-sec);
  font-weight: bold;
  border: 0;
  height: 0;
  height: 45px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: #fff;
  text-transform: uppercase;
  flex-grow: 1;
  margin-right: 5px;
  border-radius: 4px;
  user-select: none;
}

.k-row button.wide {
  flex-grow: 1.5;
}

